body{
    background: rgb(20, 1, 1);
    color:white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


p{
    line-height: 1.6;
}

.link:hover {
    color: red;
    text-decoration:underline ;
  }

a{
    color:rgb(128, 68, 0);
    text-decoration:none ;
}
.ded{
    border: 2px solid black;
    overflow:auto;
    width: auto;
    height: 10% !important;
    align-items: center;
    display: flex;
    margin: 5%;
    padding: 5%;
}


