body{
    background: rgb(20, 1, 1);
    color:white;
    max-width: 600px;
    margin-top: 10%;
}


p{
    line-height: 1.6;
}

.link:hover {
    color: red;
    text-decoration:underline ;
  }

a{
    color:rgb(128, 68, 0);
    text-decoration:none ;
}


